:root {
    --color: #1a1a1a;
    --background-color: #f7f5f1;
    --global-border-color: #e4e3bc;
    --font-family: 'GT America Mono Regular';
    --body-copy: 0.9rem;
    --heading-copy: 1.75rem;
    --gutter: 1rem;
    --vertical: 1.5rem;
    --hover: rgb(196, 214, 196);
    --underline-hover: #64966a;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--color);
    background-color: var(--background-color);
    font-size: var(--body-copy);
    font-family: var(--font-family);
    min-block-size: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    line-height: 1.5;
}

hgroup {
    padding-inline: var(--gutter);

	@media (min-width: 600px) {
        padding-inline: 1.5rem;
	}

	@media (min-width: 1000px) {
        padding-inline: 2rem;
	}
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding-block-start: var(--vertical);
    padding-inline: var(--gutter);
    background-color: var(--background-color);

    @media (min-width: 600px) {
        padding-inline: 1.5rem;
    }

    @media (min-width: 1000px) {
        padding-inline: 2rem;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-end: 1rem;
    margin-block-end: 1rem;
}

.build-icon {
    width: 18px;
    height: 18px;
}

.nav-left {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-left li a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 400;
}


.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    border: 1px solid var(--global-border-color);
    padding: 0.5rem 0;
    margin-top: 0;
    list-style: none;
    z-index: 1000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown.dropdown-active .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    padding-block: 0.3rem;
    padding-inline: 0.8rem;
    display: block;
    text-decoration: none;
}

.dropdown-menu a.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

h1 {
    font-size: calc(2 * var(--heading-copy));
    font-weight: 1000;

    @media (width > 800px) {
        font-size: 4rem;
    }

    @media (width > 1000px) {
		font-size: 5rem;
    }
}

h2 {
    font-size: 1rem;
    text-wrap: balance;
    padding-block-end: 0.5rem;
    line-height: 1.3rem;

    @media (width > 800px) {
        font-size: 1.5rem;
        line-height: 1.9rem;
    }
}

hgroup p {
    margin: 0;
    font-weight: 300;
    font-size: 0.9rem;
	text-wrap: balance;

    @media (width > 800px) {
        font-size: 1rem;
    }
}

main {
    /* padding-inline: var(--gutter); */
    width: 100%;

    @media (width > 800px) {
        /* padding-inline: 1.5rem; */
    }

    @media (width > 1000px) {
        /* padding-inline: 2rem; */
    }
}

main > p {
    margin-bottom: 2rem;
    max-width: 75ch;

    @media (width > 800px) {
        margin-bottom: 2.5rem;
    }

    @media (width > 1000px) {
        margin-bottom: 3rem;
    }
}

.button {
    background-color: var(--global-border-color);
    color: var(--color);
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    text-align: center;
    margin: auto;
    margin-block-start: 2rem;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

.button:hover {
    background-color: var(--global-border-color-dark);
	color: var(--color);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--vertical);
    padding-inline: var(--gutter);
    border-top: 1px solid var(--global-border-color);
    background-color: var(--background-color);
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
	font-size: 0.85rem;

    @media (width > 800px) {
        font-size: 0.9rem;
    }
}

a {
    color: var(--color);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

a:hover {
    color: var(--underline-hover);
}

em {
    font-style: italic;
}