/* https://www.onlinewebfonts.com/download/9fb1e7c5b973d399cb9f95667021667e */
@import url(https://db.onlinewebfonts.com/c/9fb1e7c5b973d399cb9f95667021667e?family=GT+America+Mono+Regular);

:root {
	--color: #1a1a1a;
	--background-color: #f7f5f1;
	/* --global-border-color: rgb(84, 110, 79); */
	--global-border-color: #e4e3bc;
	--font-family: 'GT America Mono Regular';
	--body-copy: 0.9rem;
	--heading-copy: 1.75rem;
	--gutter: 1rem;
	--vertical: 1.5rem;
	--hover: rgb(196, 214, 196);
	--underline-hover: #64966a;
}

/* need to go through and fix this if I want other pages */