/* Best Practice */
/* what I was trying to do */
/* what is the resource I used */
/* what I learned from it */

/* @import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap'); */

/* Design Ideas */
/* CHANGE THE CURSOR TO BE THE SAME HOUSE SVG */
/* MAKE THE HOUSE GRAPHIC CHANGE TO OUTLINE VS. FULL MAYBE */
/* Make somesort of quiz or purchase for each item structure */
/* select item in top corner */
/* make sure when you click items they become large and take over page/like pop up */
/* can I have a styled screen that covers over with information?  */


/* https://www.onlinewebfonts.com/download/9fb1e7c5b973d399cb9f95667021667e */
@import url(https://db.onlinewebfonts.com/c/9fb1e7c5b973d399cb9f95667021667e?family=GT+America+Mono+Regular);

:root {
	--color: #1a1a1a;
	--background-color: #f7f5f1;
	/* --global-border-color: rgb(84, 110, 79); */
	--global-border-color: #e4e3bc;
	--font-family: 'GT America Mono Regular';
	--body-copy: 0.9rem;
	--heading-copy: 1.75rem;
	--gutter: 1rem;
	--vertical: 1.5rem;
	--hover: rgb(196, 214, 196);
	--underline-hover: #64966a;
}

* {
	box-sizing: border-box;
}

body {
	color: var(--color);
	background-color: var(--background-color);
	font-size: var(--body-copy);
	font-family: var(--font-family);
	min-block-size: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	margin: 0;
	line-height: 1.5;

}

hgroup {
	padding-block: var(--vertical);
	padding-inline: var(--gutter);
	border-bottom: 1px solid var(--global-border-color);
	background-color: var(--background-color);

	@media (min-width: 600px) {
		padding-block: 2rem;
		padding-inline: 1.5rem;
	}

	@media (min-width: 1000px) {
		padding-block: 3rem;
		padding-inline: 2rem;
	}
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid var(--border-color);
}

.nav-left {
	display: flex;
	gap: 1.5rem;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-left li a {
	text-decoration: none;
	font-size: 0.9rem;
	font-weight: 400;
}

.nav-left li a:hover {
	border-bottom: 2px solid var(--underline-hover);
}

.nav-left li a.active {
	border-bottom: 2px solid var(--color);
}

.nav-left > .active {
	color: var(--color);
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px; 
}

hgroup {

	h1 {
		font-size: calc(2 * var(--heading-copy));
		font-weight: 1000;
		
		@media (min-width: 600px) {
			font-size: 4rem;
			margin-bottom: 0.75rem;
		}

		@media (min-width: 1000px) {
			font-size: 5rem;
		}
	}

	p {
		margin: 0;
		font-weight: 300;
		font-size: 0.9rem;

		@media (min-width: 600px) {
			font-size: 1rem;
		}
	}

	h2 {
		font-size: 1rem;
		text-wrap: balance;
		padding-block-end: 0.5rem;
		line-height: 1.3rem;

		@media (min-width: 600px) {
			font-size: 1.5rem;
			line-height: 1.9rem;
		}
	}

}

main {
	padding-inline: var(--gutter);
	padding-block: var(--vertical);
	width: 100%;

	@media (min-width: 600px) {
		padding-inline: 1.5rem;
		padding-block: 2rem;
	}

	@media (min-width: 1000px) {
		padding-inline: 2rem;
		padding-block: 3rem;
	}
}

/* wanted to target <p>  element (large paragraph on page) that is direct a children child of <main> */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/Child_combinator */
/* learned that child-combinator (>) matches only immediate children of parent tag, "<" is invalid, (wish I used it in my other projects lol) */
main > p {
	margin-bottom: 2rem;
	max-width: 75ch;
	font-size: 0.8rem;
	padding-inline: 0.rem;

	@media (min-width: 600px) {
		margin-bottom: 2.5rem;
		font-size: var(--body-copy);
	}

	@media (min-width: 1000px) {
		margin-bottom: 3rem;
		font-size: 1rem;
	}
}

/* responsive grid system */
/* Needed 1 column for mobile and up to 4 columns on desktop */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/repeat */
/* repeat() allows me to have multiple columns (or rows) in a repeating pattern. I can expand the grid to 4 columns on large screens and compact down to 1 column on smaller screen */
#content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 1px solid var(--global-border-color);
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  
    @media (min-width: 600px) {
    	grid-template-columns: repeat(2, 1fr);
    	padding-inline: 1.5rem;
    }
    
    @media (min-width: 1000px) {
    	grid-template-columns: repeat(3, 1fr);
    	padding-inline: 2rem;
    }
    
    @media (min-width: 1400px) {
    	grid-template-columns: repeat(4, 1fr);
    	padding-inline: 2rem;
    	max-width: 1400px;
    	margin: 0 auto;
    }
}

.content-block {
	position: relative;
	min-width: 0;
	border-bottom: 1px solid var(--global-border-color);
	grid-template-rows: auto min-content;
	background-color: var(--background-color);


	@media (min-width: 600px) {
		border-right: 1px solid var(--global-border-color);
	}

	/* grid dividers using :nth-child() to control card borders at different breakpoints, */
	/* saw this on https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:nth-child */
	/* this ":nth-child()" can target repeating items in a grid system, makes it possible to adjust the borders based on the column count I have */
	@media (min-width: 600px) {
		&:nth-child(2n) {
			border-right: none;
		}
	}

	@media (min-width: 1000px) {
		&:nth-child(2n) {
			border-right: 1px solid var(--global-border-color);
		}
		
		&:nth-child(3n) {
			border-right: none;
		}
	}

	@media (min-width: 1400px) {
		&:nth-child(3n) {
			border-right: 1px solid var(--global-border-color);
		}
		
		&:nth-child(4n) {
			border-right: none;
		}
	}
}

.block-image {
	/* keeps images centered in the grid with visible white space, without forcing them to stretch or crop */
	/* I referenced this site https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/aspect-ratio */
	/* aspect-ratio keeps the container square (or 4:3 on mobile) so images don't stretch weird, they stay their actual size in the center */
	aspect-ratio: 1 / 1;
	background-color: var(--background-color);
	border-bottom: 1px solid var(--global-border-color);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	width: 100%;
	overflow: hidden;
  
	@media (min-width: 600px) {
	  aspect-ratio: 1 / 1;
	  padding: 1.25rem;
	}
  
	@media (min-width: 1000px) {
        aspect-ratio: 1 / 1;
	  padding: 1.5rem;
	}
  
	@media (min-width: 1400px) {
        aspect-ratio: 1 / 1;
	    padding: 2rem;
	}
}

.block-image img,
.block-image picture,
.block-image iframe {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.block-video iframe,
.block-video video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.block-text {
    background-color: var(--background-color);
	/* padding: 1rem; */
	/* min-height: 6rem; */
	/* height: auto; */
    overflow-y: visible;
    /* font-size: smaller; */
	line-height: 0.8rem;
	font-size: 0.6rem;

	@media (min-width: 600px) {
		padding-block-start: 1rem;
		line-height: 1rem;
		font-size: 0.7rem;
	}

	@media (min-width: 1000px) {
		padding: 1.5rem;
		line-height: 1.2rem;
		font-size: 0.9rem;
	}

	@media (min-width: 1400px) {
		padding: 2rem;
		line-height: 1.3rem;
		font-size: 0.9rem;
	}
}


.block-info {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	height: 7rem;


	@media (min-width: 600px) {
		padding: 1.25rem;
		height: 9rem;
		gap: 0.5rem;
	}

	@media (min-width: 1000px) {
		padding: 1.5rem;
		height: 10rem;
		gap: 0.8rem;
	}

	@media (min-width: 1400px) {
		padding: 1.75rem;
		height: 10.5rem;
		gap: 1rem;
	}
}

.block-title {
	font-size: 0.8rem;
	line-height: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	@media (min-width: 600px) {
		font-size: 1.05rem;
	}

	@media (min-width: 1000px) {
		font-size: 1.1rem;
	}

	@media (min-width: 1400px) {
		font-size: 1.15rem;
	}
}

.block-type {
    font-size: 0.8rem;
    color: #666;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

a.content-block {
    text-decoration: none;
    color: inherit;
}

.link-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--color);
}

.link-preview span {
    font-size: 0.85rem;
    color: #666;
}

footer {
	padding-block: var(--vertical);
	padding-inline: var(--gutter);
	border-top: 1px solid var(--global-border-color);
	background-color: var(--background-color);

	@media (min-width: 600px) {
		padding-block: 2rem;
		padding-inline: 1.5rem;
	}

	@media (min-width: 1000px) {
		padding-block: 3rem;
		padding-inline: 2rem;
	}
}

footer p {
	font-size: 0.85rem;

	@media (min-width: 600px) {
		font-size: 0.9rem;
	}
}

/* "here" */
a {
	color: var(--color);
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 2px;
}

a:hover {
	color: var(--underline-hover);
}

em {
	font-style: italic;
}