/* Best Practice */
/* what I was trying to do */
/* what is the resource I used */
/* what I learned from it */

main {
    padding-inline: var(--gutter);
    padding-block: var(--vertical);

    @media (width > 800px) {
        padding-inline: 1.5rem;
        padding-block: 2rem;
    }

    @media (width > 1000px) {
        padding-inline: 2rem;
        padding-block: 3rem;
    }
}

.about p {
    text-wrap: balance;
    font-size: 0.9rem;
    line-height: 1.5rem;

    @media (width > 800px) {
        font-size: 1rem;
    }
}

.contents {
    display: grid;
    gap: 3rem;

    @media (min-width: 1000px) {
        gap: 5rem;
        grid-template-columns: repeat(2, 1fr);
    }

    p {
        padding-block-end: 2rem;
    }
}

#content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    clip-path: inset(0);
}

.block-info,
.block-title {
    display: none;
}

.block-image {
    padding: 0.3rem;

    @media (min-width: 800px) {
        padding: 0.4rem;
    }

    @media (min-width: 1400px) {
        padding: 0.5rem;
    }
}

.button {
    margin-inline-start: 0;
    margin-block-start: 0;
}

/* hide extra blocks - nth-child used as fallback until data-limit JS is implemented */
.content-block:nth-child(-n+1) {
    display: none;
}

#content-grid .content-block:nth-child(n+8) {
    display: none;
}